In [1]:
#

In [2]:
#ans2

In [21]:

sum=0
for i in range(1,11):
    sum=sum+i
print(sum)

55

In [22]:
product=1
for i in range(1,11,1):
    product=product*i
print(product)

3628800

In [23]:
s=0
i=1
while(i<=10):
    s=s+i
    i=i+1
print(s)

55

In [24]:
p=1
i=1
while(i<=10):
    p=p*i
    i=i+1
print(p)

3628800

In [2]:
#ans3

In [ ]:
unit=int(input("enter the no of units use in this month: ") )
if unit<=100:
    bill_amount=unit*4.5
elif 200>=unit>100:
    bill_amount=(unit-100)*6+100*4.5
elif 300>=unit>200:
    bill_amount=(unit-200)*10+100*10.5
else:
    bill_amount=(unit-300)*20+100*20.5
    
print("electricity bill of this month is : ", bill_amount)

In [3]:
##ans4
l1=[]

In [4]:
for i in range(1,101):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
i=0
l2=[]
while i<100:
    l2.append(l1[i]**3)
    i+=1
print(l2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [6]:
l3=[]
for i in l2:
    if i%4==0 or i%5==0:
        l3.append(i)
print(l3)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
#ans 5

In [10]:
st="i want to become a data scientist"
m=0;
for i in st:
    if i=="a"or i=="e" or i== "i" or i=="o"or i=="u":
        m+=1
print(m)

12